* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #181b1e;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  padding: 0 1.3rem;
  display: flex;
}
nav > ul > li > a {
  text-decoration: none;
  padding: 1.3rem 0;
  padding-bottom: 1.1em;
  margin: auto;
  color: #bdbdbd;
  font-size: 1.1em;
}
.home {
  border-bottom: 7px solid rgba(255, 0, 0, 0.877);
}
nav > ul > li > a:hover {
  border-bottom: 7px solid red;
}
.btn {
  padding: 1.3rem 0;
}
.btn button {
  /* height: 30px; */
  border-radius: 4px;
  padding: 0.4em 1em;
  font-size: 1em;
}
.btn button:hover {
  background-color: #00bad2;
}
.banner {
  background: url(./images/banner.jpg);
  min-height: 530px;
  color: white;
  background-size: cover;
  /* width: 100vw;
   height: 100vh; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.banner_item {
  margin: auto;
  margin-top: 100px;
  width:63%;
  font-family: roboto sans-serif;
  font-size: 25px;
}

a.down {
  text-decoration: none;
  color: #fff;
  background: #f44336;
  padding: 5px;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  width: 200px;
}
a.down:hover {
  background: #9c2820;
}

.arrow-btn {
  margin-top: 100px;
}

.about {
  background-color: lightgray;
  padding-left: 10%;
  padding-right: 10%;
}
h3 {
  text-align: center;
  font-size: 1.8em;
  padding: 1.5em;
}

.item_first {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5em;
  padding: 27px;
  /* width: 800px; */
}
.item_sec {
  /* width: 900px; */
  margin: auto;
  text-align: center;
  padding: 20px;
}
.item_sec p {
  padding: 1.1em;
  font-size: 1.1em;
}
.down_work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}
.desion {
  background: url(./images/ba.jpg);
  width: 100%;
  min-height: 450px;
  background-size: cover;
  display: block;
  padding: 4em 0;
}


/* Albums */
/* Top Box styles */
section {
  margin: 50px auto;
  width: 75%;
  height: 900px;
  padding: 5px;
}

.top_box {
  width: 100%;
  height: 50%;
  display: flex;

}


.bottom_box {
  width: 100%;
  height: 50%;
  display: flex; 

}
.tb_left {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic.jpg);
  
}
.tb_right {
  width: 50%;
  height: 100%;
}
.tbr_top {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic1.jpg);
}
.tbrb_left {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic2.jpg);
}
.tbrb_right {
  width: 50%;
  height: 200%;
  background-image: url(./images/pic3.jpg);
}

/* Bottom box style */

.tbr_bottom {
  width: 100%;
  height: 50%;
  display: flex;
}
.bb_left {
  width: 25%;
  height: 100%;
}
.bbl_top {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic4.jpg);
}
.bbl_bottom {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic6.jpg);
}
.bb_center {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic5.jpg);
}
.bb_right {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
}
.bbr_bottom {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic7.jpg);
  margin-bottom: 0;
}
.schif{
  border-bottom: 6px solid #d33131;
}
.cruh5{
  font-weight: 300px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
}
.work_pera{
  color: white;
}
.work_hover{
  text-align: center;
  padding: 9em 0;
  display: block;
  top: 32px;
  margin: 20px;
  width: 92%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover2{
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  /* margin-top: 5px; */
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover3{
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover4{
  text-align: center;
  padding: 10.3em 0;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover5{
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover6{
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover7{
  text-align: center;
  padding: 9em 0;
  display: block;
  top: 32px;
  margin: 25px;
  width: 92%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover8:hover{
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.desion{
  display: flex;
  justify-content: center;
}
.item_qu {
  text-align: center;
  padding: 2em 0 6em;
}
.item_qu p {
  font-size: 1.4em;
  color: #e2e2e2;
  width: 50%;
  margin: auto;
  font-weight: 300;
  line-height: 1.3em;
  padding: 1.2em 0 0.6em;
}
.item_qu span {
  font-size: 1em;
  color: #00bad2;
  
}
ul .color_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_btn li{
  list-style: none;
  background-color: yellow;
  width: 10px;
  height: 5px;

}
color_btn a{
  text-indent: -9999px;
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px 6px;
	background:#171918 ;
}

/* blog */

.blog_container{
  width: 100%;
}
.blog{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  
}

.blog_main{
  background: #fff;
    box-shadow: 2px 2px 2px 2px #d7d7d7;
    /* margin-right: 2.4%; */
    padding: 1em;
    
    /* width: 23.15%; */
    /* float: left; */
    /* text-align: center; */
    position: relative;
}
.image{
  /* width: 90%; */
  /* text-align: center; */
}
.blog_top p{
  /* padding: 0.8em; */
  /* float: left; */
}
.read{
  text-decoration: none;
    color: #99d5d0;
    font-size: 0.8em;
    float: right;
}

/* flower */

.flower{
  text-align: center;
  margin: 5em auto 2em;
  /* margin-bottom: 50px; */
}
.down{
  text-align: center;
}

/* contact */

.contact{
  text-align: center;
  background-color: #DDDBDB;
}
.contact h6{
  font-size: 3em;
  margin: 25px;
  padding-top: 50px;
}
.form_name{
  /* display: block; */
  width: 40%;
  height: 50px;
  margin: auto;
  border: 1px solid #DDDBDB;
  border-radius: 4px;
  padding-left: 5px;
}

.massage{
  border-style: none;
  border: 1px solid #DDDBDB;
  border-radius: 5px;
  padding: 5px;
}
a{
  text-decoration: none;
}
.btn_submit{
  display: block;
  width: 75%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #00bad2;
  border-radius: 4px;

}
.btn_submit:hover{
  background-color: #00bad2;

}
.form_input{
  margin: 50px;
}
.drop_dwon{
  text-align: center;
  margin: 0;
 
}

/* footer */


.footer{
  background-color: #181b1e;
  text-align: center;
  padding: 25px;
  font-size: 30px;
  margin: 0;
}
.span_twit{
  border-bottom: 5px solid rgb(253, 253, 7);
  padding: 15px;
}
.social_icon{
  margin: 15px;
  color: #626262;
}
.fa_twitter{
  color: #f44336;
}
.social_icon:hover{
  color: #f44336;
}
.templ_date{
  font-size: 20px;
  padding-top: 2em;
  color: white;

}
.W3layouts{
  color: #626262;
}
.W3layouts:hover{
  color: white;
}