* {
  margin: 0;
  padding: 0.01px;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
/* header */
header {
  background-color: #181b1e;
}
.container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-transform: uppercase;
}
.logo {
  margin: 8px 0;
}
nav {
  display: flex;
}
nav > ul {
  margin: auto;
  display: flex;
  margin-left: 350px;
}
nav > ul > li {
  list-style: none;
  padding: 0 1.3rem;
}
.home {
  padding-bottom: 0.8em;
  border-bottom: 7px solid rgba(255, 0, 0, 0.877);
}
nav > ul > li > a:hover,
nav > ul > li:active a {
  padding-bottom: 0.8em;
  border-bottom: 7px solid rgba(255, 0, 0, 0.877);
}

nav > ul > li > a {
  text-decoration: none;
  padding: 1.3rem 0;
  padding-bottom: 1.1em;
  margin: auto;
  color: #bdbdbd;
  font-size: 1.1em;
  transition: all;
  transition-duration: 0.5s;
  font-weight: 300;
}
/* a {
  color: #E74C3C;
  text-decoration: underline;
} */

/* nav > ul > li > a:hover {
  border-bottom: 7px solid red;
} */
.btn {
  /* padding: 1.3rem 0; */
  margin: auto;
}
.btn button {
  /* height: 30px; */
  border-radius: 4px;
  padding: 0.5em 0.7em;
  font-weight: 400;
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #181b1e;
  color: #fff;
  border: 1px solid #00bad2;
  float: right;
  /* letter-spacing: -1px; */
}
.btn button:hover {
  background-color: #00bad2;
}
.banner {
  background: url(./images/banner.jpg);
  min-height: 530px;
  color: white;
  background-size: cover;
  display: flex;
  /* justify-self: center; */
  /* align-items: center; */
}
.banner_item {
  margin: auto;
  font-family: inherit;
  text-align: center;
}
.title {
  font-size: 3.9em;
  font-weight: 100;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.down {
  margin: auto;
  text-decoration: none;
  color: #fff;
  background: #f44336;
  padding: 0.1em 0.6em;
  font-size: 1.2em;
  border-radius: 6px;
  font-size: large;
  border: none;
  display: flex;
  align-items: center;
}
.down > img {
  width: 35px;
  height: 38px;
  margin-right: 5px;
}
.down:hover {
  background: #9c2820;
}

.arrow-btn {
  margin-top: 100px;
}

.about {
  background-color: lightgray;
  padding-left: 10%;
  padding-right: 10%;
}
h3 {
  text-align: center;
  font-size: 1.8em;
  padding: 1.5em;
}

.item_first {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5em;
  padding: 27px;
  /* width: 800px; */
  font-family: "Roboto", sans-serif;
}
.item_sec {
  /* width: 900px; */
  margin: auto;
  text-align: center;
  padding: 20px;
}
.item_sec p {
  padding: 1.1em;
  font-size: 1.1em;
}
.down_work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}
.desion {
  background: url(./images/ba.jpg);
  width: 100%;
  min-height: 450px;
  background-size: cover;
  display: block;
  padding: 4em 0;
}

/* Albums */
/* Top Box styles */
section {
  margin: 50px auto;
  width: 75%;
  height: 900px;
  padding: 5px;
}

.top_box {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 5px;
}

.bottom_box {
  width: 100%;
  height: 50%;
  display: flex;
}
.on_hoverr {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  
}
.tb_right {
  width: 50%;
  height: 100%;
}
.tbr_top {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic1.jpg);
}
.tbrb_left {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic2.jpg);
}
.tbrb_right {
  width: 50%;
  height: 200%;
  background-image: url(./images/pic3.jpg);
}

/* Bottom box style */

.tbr_bottom {
  width: 100%;
  height: 50%;
  display: flex;
}
.bb_left {
  width: 25%;
  height: 100%;
}
.bbl_top {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic4.jpg);
}
.bbl_bottom {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic6.jpg);
}
.bb_center {
  width: 50%;
  height: 100%;
  background-image: url(./images/pic5.jpg);
}
.bb_right {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
}
.bbr_bottom {
  width: 100%;
  height: 50%;
  background-image: url(./images/pic7.jpg);
  margin-bottom: 0;
}
.schif {
  border-bottom: 6px solid #d33131;
}
.cruh5 {
  font-weight: 300px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
}
.work_pera {
  color: white;
}
.work_item {
  display: none;
}

.on_hoverr:hover .work_item {
  margin: auto;
  display: block;
  text-align: center;
  padding: 9em 0;
  width: 92%;
  height: 90%;
  background: rgba(210, 89, 80, 0.88);
}
/* .work_hover2 {
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  /* margin-top: 5px; */
  /* width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover3 {
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover4 {
  text-align: center;
  padding: 10.3em 0;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover5 {
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover6 {
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover7 { */ */
  /* text-align: center;
  padding: 9em 0;
  display: block;
  top: 32px;
  margin: 25px;
  width: 92%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px;
}
.work_hover8:hover {
  text-align: center;
  padding: 4em 0;
  display: block;
  margin: auto;
  width: 87%;
  background: rgba(210, 89, 80, 0.88);
  left: 23px; */
}

/* coment*/
.desion {
  display: flex;
  justify-content: center;
}
.item_qu {
  text-align: center;
  padding: 2em 0 6em;
}
.item_qu p {
  font-size: 1.8em;
  color: #e2e2e2;
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.3em;
  padding: 1.2em 0 0.6em;
}
.item_qu span {
  font-size: 1.3em;
  color: #00bad2;
}
.color_btn {
  display: flex;
  width: 100px;
  justify-content: center;
  margin: auto;
}
.color_btn li {
  list-style: none;
  padding: 1em;
  margin: 5px 6px;
  border-bottom: 5px solid #171918;
}

/* .color_btn li{
  list-style: none;
  display: flex;
  background-color: yellow;
  width: 10px;
  height: 5px;

} */
.color_btn a {
  /* text-indent: -9999px; */
  /* display: flex; */
	/* width: 30px; */
	/* height: 5px; */
	/* margin: 5px 6px; */
	/* background:#171918 ; */
}

/* blog */

.blog_container {
  width: 100%;
}
.blog {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.blog_main {
  background: #fff;
  box-shadow: 2px 2px 2px 2px #d7d7d7;
  /* margin-right: 2.4%; */
  padding: 1em;

  /* width: 23.15%; */
  /* float: left; */
  /* text-align: center; */
  position: relative;
}
.image {
  /* width: 90%; */
  /* text-align: center; */
}
.blog_top p {
  /* padding: 0.8em; */
  /* float: left; */
}
.read {
  text-decoration: none;
  color: #99d5d0;
  font-size: 0.8em;
  float: right;
}

/* flower */

.flower {
  text-align: center;
  margin: 5em auto 2em;
  /* margin-bottom: 50px; */
}
.down {
  text-align: center;
}

/* contact */

.contact {
  text-align: center;
  background-color: #dddbdb;
}
.contact h6 {
  font-size: 3em;
  margin: 25px;
  padding-top: 50px;
}
.form_name {
  /* display: block; */
  width: 40%;
  height: 50px;
  margin: auto;
  border: 1px solid #dddbdb;
  border-radius: 4px;
  padding-left: 5px;
}

.massage {
  border-style: none;
  border: 1px solid #dddbdb;
  border-radius: 5px;
  padding: 5px;
}
a {
  text-decoration: none;
}
.btn_submit {
  display: block;
  width: 75%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #00bad2;
  border-radius: 4px;
}
.btn_submit:hover {
  background-color: #00bad2;
}
.form_input {
  margin: 50px;
}
.drop_dwon {
  text-align: center;
  margin: 0;
}

/* footer */

.footer {
  background-color: #181b1e;
  text-align: center;
  padding: 25px;
  font-size: 30px;
  margin: 0;
}
.span_twit {
  border-bottom: 5px solid rgb(253, 253, 7);
  padding: 15px;
}
.social_icon {
  margin: 15px;
  color: #626262;
}
.fa_twitter {
  color: #f44336;
}
.social_icon:hover {
  color: #f44336;
}
.templ_date {
  font-size: 20px;
  padding-top: 2em;
  color: white;
}
.W3layouts {
  color: #626262;
}
.W3layouts:hover {
  color: white;
}
